.collapsible-body {
	padding: 1rem;
}

.flex.nome {
	width: 55%;
}

.flex.escola {
	width: 25%;
}

.flex.serie-turno {
	width: 20%;
}

.status.ativo {
	color: #2196f3;
}

.status.ativo-parcial {
	color: #4caf50;
}

.status.espera {
	color: #ffc107;
}

.status.desligado {
	color: #9e9e9e;
}
