.collapsible-body {
	padding: 1rem;
}

.flex.nome {
	width: 55%;
}

.flex.escola {
	width: 25%;
}

.flex.serie-turno {
	width: 20%;
}

.flex-container.status {
	justify-content: space-between;
}

.status.a {
	color: #2196f3;
}

.status.p {
	color: #4caf50;
}

.status.e {
	color: #ffc107;
}

.status.d {
	color: #9e9e9e;
}
