.collapsible-body {
	padding: 1rem;
}

.flex.nome {
	width: 55%;
}

.flex.escola {
	width: 25%;
}

.flex.serie-turno {
	width: 20%;
}

.flex-container.situacao {
	justify-content: space-between;
}

.situacao.a {
	color: #2196f3;
}

.situacao.p {
	color: #4caf50;
}

.situacao.e {
	color: #ffc107;
}

.situacao.d, .s {
	color: #9e9e9e;
}
