<h3 class="light">{{ usuario.nome }}</h3>
<h4 class="grey-text">Trocar Senha de Usuário</h4>
<form materialize [formGroup]="form" (ngSubmit)="onSave()" class="slide-in-effect">
	<div class="row">
		<div class="input-field col s12">
			<input
				id="senhaCurrentTroca"
				type="password"
				formControlName="senhaCurrent"
				[ngClass]="{ 'invalid': senhaCurrent.invalid && (senhaCurrent.touched || submitted) }">
			<label class="active" for="senhaCurrentTroca">Senha atual*</label>
		</div>

		<div class="input-field col s12">
			<input
				id="senhaTroca"
				type="password"
				formControlName="senha"
				[formGroup]="form"
				[ngClass]="{ 'invalid': senha.invalid && (senha.touched || submitted) }"
				(blur)="onBlurSenha()">
			<label class="active" for="senhaTroca">Nova senha*</label>
		</div>
		<span *ngIf="senha.invalid && (senha.touched || submitted)">
			<div class="col" *ngIf="senha.errors.minlength && !senha.errors.required">
				<label for="senhaTroca" class="red-text">A senha deve ter no mínimo 6 caracteres.</label>
			</div>
		</span>

		<div *ngIf="senhaBlured" class="input-field col s12">
			<input
				id="senhaConfirmTroca"
				type="password"
				formControlName="senhaConfirm"
				[focus]=senhaBlured
				[formGroup]="form"
				[ngClass]="{ 'invalid': form.errors?.senhaDiferente && (senhaConfirm.touched || submitted) }">
			<label class="active" for="senhaConfirmTroca">Confirme a nova senha*</label>
		</div>
		<div *ngIf="form.errors?.senhaDiferente && (senhaConfirm.touched || submitted)" class="col">
			<label for="senhaConfirmTroca" class="red-text">As senhas devem coincidir.</label>
		</div>
	</div>

	<app-form-actions [invalid]="form.invalid"></app-form-actions>
</form>