<form materialize [formGroup]="form" (ngSubmit)="onSave()" class="slide-in-effect">
	<div class="row">
		<div class="input-field col s12">
			<input id="inputNomeResponsavel"
					type="text"
					autocomplete="false"
					formControlName="nome"
					[focus]="!resp._id"
					[ngClass]="{ 'invalid': form.get('nome').invalid && form.get('nome').touched }"
					[(ngModel)]="resp.nome">
			<label for="inputNome">Nome*</label>
		</div>

		<div class="input-field col s12">
			<input id="inputParentesco"
					type="text"
					autocomplete="false"
					formControlName="parentesco"
					[(ngModel)]="resp.parentesco">
			<label for="inputParentesco">Parentesco</label>
		</div>

		<app-telefone [telefones]="resp.telefones"></app-telefone>

		<app-endereco [enderecos]="resp.enderecos" whiteButton="1"></app-endereco>
	</div>
</form>