/*

	Theme
	#4db6ac teal lighten-2
	#eceff1 blue-grey lighten-5

*/

html {
	line-height: 1.5;
	font-family: "Lato", sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}

header, footer {
	padding-left: 300px;
}

main {
	padding-left: 200px;
	padding-top: 60px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

blockquote {
	border-left: 5px solid #4db6ac;
}

form {
  animation-duration: .3s;
  animation-name: slidein;
}

.flex-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width:100%;
}

.collapsible {
  animation-duration: .3s;
  animation-name: fadein;
}

.collapsible-header.selectable:hover {
	background-color: #eeeeee;
}

.collapsible-header.selectable.active {
	background-color: #f5f5f5;
}

.flex-item {
	width: 12%;
	min-width: 80px;
}

.flex-item-extended {
	width: 28%;
	min-width: 180px;
}

.disabled {
	cursor: auto;
}

.v-scroll {
	overflow-y: auto;
}

@keyframes slidein {
  from {
    opacity: 0;
		transform: translate3d(-200px, 0, 0);
  }

  to {
    opacity: 1;
		transform: translate3d(0, 0, 0);
  }
}

@keyframes fadein {
  from {
		opacity: 0;
  }

  to {
    opacity: 1;
  }
}
