<div class="collapsible-header flex-container selectable" [ngClass]="{ 'active': atendimento._id === selectedId }">
	<input
		type="checkbox"
		class="filled-in"
		[id]="atendimento._id"
		[checked]="atendimento._id === selectedId">
	<label [for]="atendimento._id"></label>
	<div class="flex-item"><ng-content></ng-content></div>
	<div class="flex-item">{{ atendimento.solicitacao | date: 'dd/MM/yyyy' }}</div>
	<div class="flex-item">{{ atendimento.tipo }}</div>
	<div class="flex-item">{{ atendimento.status }}</div>
	<div class="flex-item">{{ atendimento.inicio | date: 'dd/MM/yyyy' }}</div>
	<div class="flex-item">{{ atendimento.inicio | date: 'dd/MM/yyyy' }}</div>
	<div class="flex-item-extended">{{ atendimento.parecer }}</div>
</div>