<table class="highlight" *ngIf="atendimentos; else semAtendimentos">
	<thead>
		<tr>
			<th>{{ property | capitalizeFirst }}</th>
			<th>Solicitação</th>
			<th>Tipo</th>
			<th>Status</th>
			<th>Início</th>
			<th>Egresso</th>
			<th class="extended">Parecer</th>
		</tr>
	</thead>

	<tbody>
		<tr
				*ngFor="let atendimento of atendimentos"
				[ngClass]="{ 'active': atendimento._id === atendimentoId }"
				(click)="onClick(atendimento._id)"
				(dblclick)="onDoubleClick(atendimento._id); atendimentoModal.open(selectedId, atendimento._id)"
				(press)="onPress(atendimento._id); atendimentoModal.open(selectedId, atendimento._id)">
			<td>
				<input
						type="checkbox"
						class="filled-in"
						[id]="atendimento._id"
						[checked]="atendimento._id === atendimentoId"
						(click)="onSelect(atendimento._id)">
				<label for="atendimento._id" style="color: black !important">{{ atendimento[property].nome }}</label>
			</td>
			<td>{{ atendimento.solicitacao | date: 'dd/MM/yyyy' }}</td>
			<td>{{ atendimento.tipo }}</td>
			<td>{{ atendimento.status }}</td>
			<td>{{ atendimento.inicio | date: 'dd/MM/yyyy' }}</td>
			<td>{{ atendimento.inicio | date: 'dd/MM/yyyy' }}</td>
			<td>{{ atendimento.parecer }}</td>
		</tr>
	</tbody>
</table>

<div class="progress" *ngIf="!isAtendimentosLoaded">
	<div class="indeterminate"></div>
</div>

<ng-template #semAtendimentos>
	<p>Sem Atendimentos</p>
</ng-template>

<a
		class="waves-effect waves-light btn btn-large teal lighten-2"
		style="margin: 15px 0 15px 0;"
		(click)="atendimentoModal.open(selectedId)">
	<i class="material-icons left">add_box</i> Novo Atendimento</a>

<app-atendimento-modal #atendimentoModal></app-atendimento-modal>

<app-delete-confirmation #deleteConfirmModal [text]="'atendimento'" (response)="onDeleteSelected($event)"></app-delete-confirmation>