<table class="highlight" *ngIf="atendimentos; else semAtendimentos">
	<thead>
		<tr>
			<th>{{ property | capitalizeFirst }}</th>
			<th>Solicitação</th>
			<th>Tipo</th>
			<th>Status</th>
			<th>Início</th>
			<th>Egresso</th>
			<th class="extended">Parecer</th>
		</tr>
	</thead>

	<tbody>
		<tr
				*ngFor="let atendimento of atendimentos"
				[ngClass]="{ 'active': atendimento === atendimentoSelected }"
				(click)="onClick(atendimento)"
				(dblclick)="onDoubleClick(atendimento); atendimentoModal.open()"
				(press)="onPress(atendimento); atendimentoModal.open()">
			<td>
				<input
						type="checkbox"
						class="filled-in"
						[id]="atendimento._id"
						[checked]="atendimento === atendimentoSelected"
						(click)="onSelect(atendimento)">
				<label for="atendimento._id" style="color: black !important">{{ atendimento[property].nome }}</label>
			</td>
			<td>{{ atendimento.solicitacao | date: 'dd/MM/yyyy' }}</td>
			<td>{{ atendimento.tipo | atendimentoPipe }}</td>
			<td>{{ atendimento.status }}</td>
			<td>{{ atendimento.inicio | date: 'dd/MM/yyyy' }}</td>
			<td>{{ atendimento.inicio | date: 'dd/MM/yyyy' }}</td>
			<td>{{ atendimento.parecer }}</td>
		</tr>
	</tbody>
</table>

<div class="progress" *ngIf="!isAtendimentosLoaded">
	<div class="indeterminate"></div>
</div>

<ng-template #semAtendimentos>
	<p>Sem Atendimentos</p>
</ng-template>

<a
		class="waves-effect waves-light btn teal lighten-2"
		style="margin: 15px 0 15px 0;"
		(click)="atendimentoModal.openCreate()">
	<i class="material-icons left">add_box</i> Novo Atendimento</a>

<app-atendimento-modal
		[showAluno]="showAluno"
		[selectedId]="selectedId"
		[atendimento]="atendimentoSelected"
		#atendimentoModal></app-atendimento-modal>

<app-delete-confirmation #deleteConfirmModal text="atendimento selecionado" (response)="onDeleteSelected($event)"></app-delete-confirmation>