html {
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

.blockquote {
    padding-left: 15px;
    border-left: 5px solid #00b8b1;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding-top: 50px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1;
    margin: 12px;
}

.item .img {
    width: 50%;
}

.item .txt {
    width: 50%;
}

.thin {
  font-weight: 300;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

@font-face {
  font-family: "Lato";
  src: local(Lato Hairline), url("../fonts/Lato/Lato-Hairline.ttf") format("ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Lato";
  src: local(Lato Light), url("../fonts/Lato/Lato-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: local(Lato Regular), url("../fonts/Lato/Lato-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: local(Lato Bold), url("../fonts/Lato/Lato-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: local(Lato Black), url("../fonts/Lato/Lato-Black.ttf") format("ttf");
  font-weight: 900;
}