<div class="row">
	<div class="col m12">
		<a id="cancelButton"
				class="btn-large default-size default-margin waves-effect waves-light blue-grey darken-1"
				(click)="onCancel()">
			<i class="material-icons right">close</i>Cancelar</a>
		<button id="buttonSubmit"
				type="submit"
				class="btn-large default-size waves-effect waves-light teal lighten-2">
			<i class="material-icons right">save</i>Salvar</button>
	</div>
</div>

<div class="row" *ngIf="invalid">
	<label for="buttonSubmit" class="col red-text">* Campos obrigatórios</label>
</div>

<div *ngIf="canDelete">
	<hr>
	<div class="row">
		<div class="col">
			<a id="deleteButton"
					class="btn-large default-size default-margin waves-effect waves-light red"
					(click)="onDelete()">
				<i class="material-icons right">delete</i>Excluir</a>
		</div>
	</div>
</div>