<table class="highlight" *ngIf="atendimentos.length; else semAtendimentos">
	<thead>
		<tr>
			<th>{{ property | titlecase }}</th>
			<th>Atendimento</th>
			<th class="extended">Estado</th>
			<th class="extended">Parecer Atualizado</th>
		</tr>
	</thead>

	<tbody>
		<tr *ngFor="let att of atendimentos"
			 class="clickable"
			 [ngClass]="{ 'active': att === atendimentoSelected }"
			 (click)="onClick(att)"
			 (dblclick)="onDoubleClick(att); atendimentoModal.open(atendimentoSelected)"
			 (press)="onPress(att); atendimentoModal.open(atendimentoSelected)">
			<td>
				<input [id]="att._id"
					type="checkbox"
					class="filled-in"
					[checked]="att === atendimentoSelected"
					(click)="onSelect(att)">
				<label for="atendimento._id" style="color: black !important">{{ att[property] ? att[property].nome : '(indefinido)' }}</label>
			</td>
			<td>
				<span *ngIf="att.tipo; else tipoIndefinidoEl">{{ att.tipo | atendimentoPipe }}</span>
				<ng-template #tipoIndefinidoEl>(indefinido)</ng-template>
			</td>
			<td>{{ att.inicio ? (att.egresso ? 'Finalizado' : 'Ativo') : 'Em espera' }} (
				{{ (att.inicio ? (att.egresso ? att.egresso : att.inicio) : att.solicitacao) | date: 'dd/MM/yyyy' }} )
			</td>
			<td>{{ (att.pareceres.length > 0) ? att.pareceres[att.pareceres.length-1].texto : '(sem parecer)' }}</td>
		</tr>
	</tbody>
</table>

<div class="progress" *ngIf="!isAtendimentosLoaded">
	<div class="indeterminate"></div>
</div>

<ng-template #semAtendimentos>
	<p *ngIf="isAtendimentosLoaded">Sem Atendimentos</p>
</ng-template>

<app-atendimento-modal
		[selectedId]="selectedId"
		(load)="loadAtendimentos()"
		(close)="onCloseModal($event)"
		#atendimentoModal></app-atendimento-modal>