main.wrapper {
	margin-left: 300px;
}

header.wrapper, footer.wrapper {
	margin-left: 300px;
}

@media only screen and (max-width : 992px) {

	main.wrapper {
		margin-left: 0px;
	}

	header.wrapper, footer.wrapper {
		margin-left: 0;
	}
}