main.wrapper {
	margin-left: 220px;
	margin-top: 30px;
}

@media only screen and (max-width : 992px) {
	main.wrapper {
		margin-left: 0px;
		margin-top: 20px;
	}
}

header.wrapper, footer.wrapper {
	margin-left: 300px;
}

@media only screen and (max-width : 992px) {
	header.wrapper, footer.wrapper {
		margin-left: 0;
	}
}