<h4 class="grey-text">Professores
	<button
		class="btn-add right tooltipped"
		materialize="tooltip"
		data-position="top"
		data-ldelay="50"
		data-tooltip="Novo Professor"
		[routerLink]="'professor'"><i class="material-icons small">add</i></button>
</h4>
<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
	<div class="collapsible-header flex-container disabled">
		<input type="checkbox" disabled>
		<label class="disabled"></label>
		<div class="flex nome"><b class="truncate">Nome</b></div>
		<div class="flex atendimentos"><b class="truncate">Atendimentos</b></div>
	</div>
	<li *ngFor="let professor of professores | navFilter: keyword:'nome'">
		<div class="collapsible-header flex-container selectable" (click)="onSelectProfessor(professor._id)">
			<input
				type="checkbox"
				class="filled-in"
				[id]="professor._id"
				[checked]="professor._id === selectedProfessorId">
			<label [for]="professor._id"></label>
			<div class="flex nome truncate">{{ professor.nome }}</div>
			<div class="flex atendimentos truncate">{{ professor.atendimentoTiposFormatted }}</div>
		</div>
		<div class="collapsible-body">
			<ul materialize="collapsible" class="v-scroll" *ngIf="atendimentos.length; else semAtendimentos">
				<div class="collapsible-header flex-container disabled">
					<input type="checkbox" disabled>
					<label class="disabled"></label>
					<div class="flex-item"><b>Aluno</b></div>
					<div class="flex-item"><b>Solicitação</b></div>
					<div class="flex-item"><b>Tipo</b></div>
					<div class="flex-item"><b>Status</b></div>
					<div class="flex-item"><b>Início</b></div>
					<div class="flex-item"><b>Alta</b></div>
					<div class="flex-item-extended"><b>Parecer</b></div>
				</div>
				<app-atendimento-item
					[atendimento]="atendimento"
					[selectedId]="selectedAtendimentoId"
					(select)="onSelectAtendimento(atendimento._id)"
					(openModal)="atendimentoModal.open(selectedProfessorId, selectedAtendimentoId)"
					*ngFor="let atendimento of atendimentos">{{ atendimento.aluno.nome }}</app-atendimento-item>
			</ul>
			<ng-template #semAtendimentos>
				<p>Sem Atendimentos</p>
			</ng-template>
		</div>
	</li>
</ul>
<app-floating-edit-button [link]="getProfessorLink()" [active]="selectedProfessorId">
	<ul *ngIf="selectedAtendimentoId">
		<li><a class="waves-effect waves-light btn btn-floating teal lighten-2 z-depth-2" (click)="atendimentoModal.open(selectedProfessorId, selectedAtendimentoId)">
			<i class="material-icons">assignment</i></a>
		</li>
	</ul>
</app-floating-edit-button>
<app-atendimento-modal #atendimentoModal></app-atendimento-modal>