<h4 class="grey-text">Professores</h4>
<ul materialize="collapsible" class="collapsible" data-collapsible="accordion" [materializeParams]="params">

	<div class="collapsible-header flex-container disabled">
		<input type="checkbox" disabled>
		<label class="disabled"></label>
		<div class="flex nome"><b class="truncate">Nome</b></div>
		<div class="flex atendimentos"><b class="truncate">Atendimentos</b></div>
	</div>
	<li *ngFor="let professor of professores | navFilter: keyword:'nome'">

		<div class="collapsible-header flex-container selectable" (click)="onSelect(professor._id)">
			<input
				type="checkbox"
				class="filled-in"
				[id]="professor._id"
				[checked]="selected && professor._id === selectedId"
				(click)="toggleSelect($event, professor._id)">
			<label [for]="professor._id"></label>
			<div class="flex nome truncate">{{ professor.nome }}</div>
			<div class="flex atendimentos truncate">{{ professor.atendimentoTiposFormatted }}</div>
		</div>

		<div class="collapsible-body">
			<div class="v-scroll">
				<app-atendimento-list
						*ngIf="selectedId === professor._id"
						[property]="'aluno'"
						[selectedId]="selectedId"></app-atendimento-list>
			</div>
		</div>
	</li>
</ul>
<app-floating-add-button [link]="link" [color]="'deep-purple'"></app-floating-add-button>

<app-delete-confirmation #deleteConfirmModal [text]="link" (response)="onDeleteSelected($event)"></app-delete-confirmation>