<div
		id="modalDeleteConfirmation"
		class="modal"
		materialize="modal"
		[materializeActions]="modalActions"
		[materializeParams]="modalParams">
	<div class="modal-content">
		<h4 class="red-text">Excluir Registro</h4>
		<p>
			Desejas realmente excluir o registro de {{ labeled ? label : text }}?<br>
			Quando um registro é excluido permanentemente, não será mais possível acessá-lo.
		</p>
	</div>
	<div class="modal-footer">
		<a class="waves-effect modal-close waves-effect btn-flat" (click)="res = false">
			<b class="light-blue-text">Cancelar</b>
		</a>
		<a class="modal-action modal-close waves-effect btn-flat" (click)="res = true">
			<b class="light-blue-text">Excluir</b>
		</a>
	</div>
</div>