<p><span *ngIf="enderecos.length">Endereços</span>
<span *ngIf="!enderecos.length">Adicione um Endereço</span>
	<button
			type="button"
			class="btn-floating simple"
			(click)="addEndereco()">
		<i class="material-icons">add</i>
	</button>
</p>
<div *ngFor="let endereco of enderecos; index as i; trackBy:customTrackBy">
	<div [ngClass]="{ 'm6': enderecos.length > 1 }" class="col s12">
		<div class="input-field col s12">
			<input id="'inputTipo' + i"
				type="text"
				autocomplete="off"
				[(ngModel)]="enderecos[i].tipo">
			<label for="'inputTipo' + i">Tipo de Endereço</label>
		</div>
		<div class="input-field col s9">
			<input id="'inputRua' + i"
				type="text"
				autocomplete="off"
				[(ngModel)]="enderecos[i].rua">
			<label for="'inputRua' + i">Rua</label>
		</div>
		<div class="input-field col s3">
			<input id="'inputNumero' + i"
				type="number"
				autocomplete="off"
				[(ngModel)]="enderecos[i].numero">
			<label for="'inputNumero' + i">Número</label>
		</div>
		<div class="input-field col s12">
			<input id="'inputComplemento' + i"
				type="text"
				autocomplete="off"
				[(ngModel)]="enderecos[i].complemento">
			<label for="'inputComplemento' + i">Complemento</label>
		</div>
		<div class="input-field col s12">
			<input id="'inputCidade' + i"
				type="text"
				autocomplete="off"
				[(ngModel)]="enderecos[i].cidade">
			<label for="'inputCidade' + i">Cidade</label>
		</div>
		<div class="input-field col s12">
			<input id="'inputBairro' + i"
				type="text"
				autocomplete="off"
				[(ngModel)]="enderecos[i].bairro">
			<label for="'inputBairro' + i">Bairro</label>
		</div>

		<div class="col s12 center-align">
			<a class="btn-flat waves-effect waves-red" [ngClass]="{ 'white-text': whiteButton }" (click)="removeEndereco(i)">
				<i class="material-icons right">delete</i>Apagar Endereço
			</a>
		</div>
	</div>
</div>