a.logo {
	color: #fff;
    display: inline-block;
    font-size: 2.1rem;
	padding: 0;
	position: absolute;
}

a.logo.center {
	left: 50%;
    -webkit-transform: translateX(-50%);
			transform: translateX(-50%);
}

a.custom-buttom {
	transition: border-color .3s;
	border-radius: 6px;
	border-color: white;
	border: 1px solid;
	margin: 8px;
	float: right;
	height: 48px;
}

a.custom-buttom:hover {
	background-color: #546e7a;
	border-color: #546e7a;
}

ul.custom-dropdown {
	background-color: #2bbbad;
}

ul.custom-dropdown > li:hover {
	background-color: #26a69a;
}

ul.custom-dropdown > li > a {
	padding: 21px 16px;
	height: 64px;
	color: white;
}

@media only screen and (max-width : 600px) {
	a.custom-buttom {
		height: 40px;
	}

	ul.custom-dropdown > li > a {
		padding: 17px 16px;
		height: 56px;
	}
}