nav {
	transition: background-color .6s ease;
	-webkit-transition: background-color .6s ease;
	-moz-transition: background-color .6s ease;
	-o-transition: background-color .6s ease;
}

@media only screen and (max-width: 992px) {
	ul li {
			margin-left: 42px;
	}
}

.navbar {
	background-color: #0288d1;
}

.navbar-search {
	background-color: #4db6ac;
}