nav {
	max-width: 100%;
	-webkit-transition: background-color .4s ease-out;
	   -moz-transition: background-color .4s ease-out;
		 -o-transition: background-color .4s ease-out;
			transition: background-color .4s ease-out;
}

@media only screen and (min-width: 993px) {
	nav {
		max-width: calc(100% - 300px);
	}
}

.sidenav-wrapper {
	margin-left: 0px !important;
}

@media only screen and (max-width: 992px) {
	.sidenav-wrapper {
		margin-left: 42px !important;
	}
}

.navbar {
	background-color: #546e7a;
}

.returnbar {
	background-color: #4db6ac;
}

.searchbar {
	background-color: #0288d1;
}

.toolbar {
	background-color: #ffb300;
}