<nav class="navbar" ngClass="{{ state }}">
	<div class="nav-wrapper">
		<div class="row">

			<div class="col s10" [ngSwitch]="state">
				<app-navbar-search *ngSwitchCase="'searchbar'"></app-navbar-search>
				<ng-container *ngSwitchCase="'navbar'">
					<ul class="left">
						<li><a (click)="onBack()"><i class="material-icons left">keyboard_arrow_left</i> Voltar</a></li>
					</ul>
				</ng-container>
			</div>

			<div class="col s2">
				<ul class="right" id="navbar">
					<li>
						<a class='dropdown-button' data-beloworigin="true" data-constrainwidth="false" data-activates='user-dropdown'>
							<i class="material-icons">account_circle</i>
						</a>
					</li>
				</ul>
				<ul id='user-dropdown' class='dropdown-content'>
					<li><a routerLink="/usuarios/usuario"><i class="material-icons left">person</i>Minha conta</a></li>
					<li><a routerLink="/usuarios/usuario-senha"><i class="material-icons left">lock</i>Trocar senha</a></li>
					<li><a (click)="onLoggout()"><i class="material-icons left">power_settings_new</i>Sair</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>