<ul class="left fade-in-effect">
	<li
			class="tooltipped spacing-left-on-med-and-down"
			materialize="tooltip"
			data-position="bottom"
			data-ldelay="50"
			data-tooltip="Remover Seleção"
			(click)="onEmitTool(tool.SELECTION)">
		<a><i class="material-icons">check_box</i></a>
	</li>
	<li
			class="tooltipped"
			materialize="tooltip"
			data-position="bottom"
			data-ldelay="50"
			data-tooltip="Alterar Dados">
		<a [routerLink]="link"><i class="material-icons">mode_edit</i></a>
	</li>
	<span *ngIf="hasAtt">
		<li
				class="tooltipped fade-in-effect spacing-left"
				materialize="tooltip"
				data-position="bottom"
				data-ldelay="50"
				data-tooltip="Modificar Atendimento"
				(click)="onEmitTool(tool.EDIT_ATT)">
			<a><i class="material-icons">event_note</i></a>
		</li>
		<li
				class="tooltipped fade-in-effect"
				style="display: inline-block;"
				materialize="tooltip"
				data-position="bottom"
				data-ldelay="50"
				data-tooltip="Remover Atendimento"
				(click)="onEmitTool(tool.DELETE_ATT)">
			<a><i class="material-icons">event_busy</i></a>
		</li>
	</span>
</ul>