.spacing-left {
	margin-left: 15px;
}

.break-line-on-small {
	display: inline;
}

@media only screen and (max-width: 456px) {
	.break-line-on-small {
		display: block;
	}
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
	.spacing-left {
		margin-left: 10px;
	}

	.spacing-left-on-med-and-down {
		margin-left: 10px;
	}
}

@media only screen and (max-width: 299px) {
	.spacing-left {
		margin-left: 0px;
	}
}