<ul class="left fade-in-effect">
	<li
			class="tooltipped spacing-left-on-med-and-down"
			materialize="tooltip"
			data-position="bottom"
			data-ldelay="50"
			data-tooltip="Remover Seleção">
		<a class="hide-on-small-only">Selecionado<i class="material-icons right">check_box</i></a>
		<a class="hide-on-med-and-up"><i class="material-icons">check_box</i></a>
	</li>
	<li
			class="tooltipped"
			materialize="tooltip"
			data-position="bottom"
			data-ldelay="50"
			data-tooltip="Alterar Dados">
		<a><i class="material-icons">mode_edit</i></a>
	<li
			class="tooltipped"
			materialize="tooltip"
			data-position="bottom"
			data-ldelay="50"
			data-tooltip="Apagar Registro">
		<a><i class="material-icons">delete</i></a>
	</li>
	<li
			class="tooltipped spacing-left"
			materialize="tooltip"
			data-position="bottom"
			data-ldelay="50"
			data-tooltip="Verificar Atendimento">
		<a><i class="material-icons">assignment_turned_in</i></a>
	</li>
	<li
			class="tooltipped"
			materialize="tooltip"
			data-position="bottom"
			data-ldelay="50"
			data-tooltip="Excluir Atendimento">
		<a><i class="material-icons">assignment_late</i></a>
	</li>
</ul>