<h5 *ngIf="!create && showAluno" class="light">{{ atendimento ? atendimento.aluno.nome : '' }}</h5>
<h5 *ngIf="!create && !showAluno" class="light">{{ atendimento ? atendimento.profissional.nome : '' }}</h5>
<h5 *ngIf="create && showAluno" class="light">{{ aluno ? aluno.nome : '' }}</h5>
<h5 *ngIf="create && !showAluno" class="light">{{ professor ? professor.nome : '' }}</h5>

<div class="input-field">
	<input id="first_name" type="text" class="validate">
	<label for="first_name">Texto</label>
</div>
<div class="input-field">
	<input type="text" materialize="pickadate" [materializeParams]="datepickerParams">
	<label for="first_name">Data</label>
</div>