<div class="row">
	<h5 class="light" *ngIf="!innerAlunoComponent">{{ aluno.nome }}</h5>
	<p>Atendimento
		<span *ngIf="att.egresso; else iniciadoEl">Finalizado em {{ att.egresso | date: 'dd/MM/yyyy' }}</span>
		<ng-template #iniciadoEl>
			<span *ngIf="att.inicio; else solicitadoEl">Iniciado em {{ att.inicio | date: 'dd/MM/yyyy' }}</span>
			<ng-template #solicitadoEl>
					Solicitado em {{ att.solicitacao | date: 'dd/MM/yyyy' }}
			</ng-template>
		</ng-template>
	</p>
</div>

<form materialize [formGroup]="form" (ngSubmit)="onSave()" class="slide-in-effect">
	<div class="row">

		<div class="input-field col s12">
			<select
					id="selectAtendimento"
					formControlName="tipo"
					materialize="material_select">
				<option value="" disabled selected>Tipo de Atendimento</option>
				<option *ngFor="let tipo of tipos" [value]="tipo.value">{{ tipo.name }}</option>
			</select>
			<label>Atendimento</label>
		</div>

		<div *ngIf="att.inicio && !att.egresso">
			<div class="input-field col s12">
				<input id="nome_att"
						formControlName="nome"
						autocomplete="false"
						type="text"
						materialize="dropdown"
						data-activates="professor-dropdown"
						[ngClass]="{ 'invalid': form.get('nome').invalid && submitted }"
						[materializeActions]="nomeActions"
						[materializeParams]="nomeParams"
						[focus]="att.inicio && !att.egresso"
						(keydown.tab)="selectProfessor()"
						(keyup)="onShowDropdown($event.key)">
				<label for="nome_att">Profissional*</label>
			</div>
			<ul id='professor-dropdown' class='dropdown-content'>
				<li *ngFor="let p of professores"><a (click)="selectProfessor(p)">{{ p.nome }}</a></li>
			</ul>

			<div formGroupName="horario">
				<div class="input-field col s12 l6">
					<select id="selectDia"
							formControlName="dia"
							materialize="material_select"
							[ngClass]="{ 'invalid': form.get('horario.dia').invalid && submitted }">
						<option value="" disabled selected>Selecionar</option>
						<option *ngFor="let dia of dias" [value]="dia.value">{{ dia.name }}</option>
					</select>
					<label>Dia da Semana*</label>
				</div>

				<div class="input-field col s12 l6">
					<label for="birthtime">Horário*</label>
					<input id="birthtime"
							name="birthtime"
							type="text"
							formControlName="hora"
							materialize="pickatime"
							[ngClass]="{ 'invalid': form.get('horario.hora').invalid && submitted }"
							[materializeActions]="horarioActions"
							[materializeParams]="timepickerParams">
				</div>
			</div>
		</div>

		<div *ngIf="att.egresso; else finalizarAttEl">
			<div class="col">
				<a class="btn waves-effect waves-light" (click)="continuarAtendimento()">
					<i class="material-icons right">event_note</i>Continuar
				</a>
			</div>
		</div>
		<ng-template #finalizarAttEl>
			<div class="col" *ngIf="att.inicio; else iniciarAttEl">
				<a class="btn waves-effect waves-light" (click)="finalizarAtendimento()">
					<i class="material-icons right">event_busy</i>Encerrar
				</a>
			</div>
			<ng-template #iniciarAttEl>
				<div class="col" *ngIf="form.get('tipo').value">
					<a class="btn waves-effect waves-light" (click)="iniciarAtendimento()">
						<i class="material-icons right">event_available</i>Iniciar
					</a>
				</div>
			</ng-template>
		</ng-template>
	</div>

	<div class="row">
		<p>Pareceres <span class="green-text" *ngIf="!pareceres.length">- Explique a situação do aluno criando um parecer aqui.</span>
			<button
					type="button"
					class="btn-floating simple"
					[disabled]="pareceres.length && !pareceres.controls[0].get('texto').value"
					(click)="addParecer()">
				<i class="material-icons">add</i>
			</button>
		</p>
		<div formArrayName="pareceres">
			<div *ngIf="pareceres.length && !showPareceres; else showPareceresEl">
				<div [formGroupName]="0">
					<div class="input-field col s12 fade-in-effect" style="margin: 0px;">
						<button type="button" class="btn-floating simple postfix" (click)="removeParecer(0)">
							<i class="material-icons">close</i>
						</button>
						<textarea
								id="texto0"
								formControlName="texto"
								class="materialize-textarea"
								style="margin: 0;"
								autocomplete="false"></textarea>
					</div>
					<label class="col s12" [for]="'texto' + i">
						{{ pareceres.controls[0].get('usuario').value }}, em
						{{ pareceres.controls[0].get('data').value | date: 'dd/MM/yyyy' }}
					</label>
				</div>
			</div>
			<ng-template #showPareceresEl>
				<div *ngFor="let parecer of pareceres.controls; index as i">
					<div [formGroupName]="i">
						<div class="input-field col s12 fade-in-effect" style="margin: 0px;">
							<button type="button" class="btn-floating simple postfix" (click)="removeParecer(i)">
								<i class="material-icons">close</i>
							</button>
							<textarea [id]="'inputTexto' + i"
								formControlName="texto"
								class="materialize-textarea"
								style="margin: 0;"
								autocomplete="false">
							</textarea>
						</div>
						<label class="col s12" [for]="'inputTexto' + i">
							{{ pareceres.controls[0].get('usuario').value }}, em
							{{ pareceres.controls[0].get('data').value | date: 'dd/MM/yyyy' }}
						</label>
					</div>
				</div>
			</ng-template>
		</div>
		<div class="col s10 offset-s1 center-align" *ngIf="pareceres.length > 1">
			<a class="btn-flat center-align" [ngClass]="{ 'white-text': innerAlunoComponent }" (click)="toggleShowParecer()">
				<span *ngIf="!showPareceres"><i class="material-icons right">keyboard_arrow_down</i>mostrar mais</span>
				<span *ngIf="showPareceres"><i class="material-icons right">keyboard_arrow_up</i>mostrar menos</span>
			</a>
		</div>
	</div>

</form>