<div
		id="modalAtendimento"
		class="modal modal-fixed-footer"
		materialize="modal"
		[materializeParams]="modalAtendimentoParams"
		[materializeActions]="modalAtendimentoActions">
	<div class="modal-content">
		<app-atendimento
				*ngIf="!closed"
				[create]="create"
				[selectedId]="selectedId"
				[atendimento]="atendimento"
				(save)="emitLoad()"
				#atendimentoElement></app-atendimento>
	</div>
	<div class="modal-footer">
		<a class="modal-close waves-effect btn-flat" (click)="closed = true">
			<b class="light-blue-text">Cancelar</b>
		</a>
		<a class="waves-effect btn-flat" (click)="atendimentoElement.onSave()">
			<b class="light-blue-text">Salvar</b>
		</a>
	</div>
</div>