<div
		id="modalAtendimento"
		class="modal modal-fixed-footer"
		materialize="modal"
		[materializeParams]="modalAtendimentoParams"
		[materializeActions]="modalAtendimentoActions">
	<div class="modal-content">
		<app-atendimento [atendimentoId]="selectedAtendimentoId" [selectedId]="selectedId"></app-atendimento>
	</div>
	<div class="modal-footer">
		<a class="waves-effect modal-close waves-effect waves-red btn-flat"><b class="light-blue-text">Cancelar</b></a>
		<a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="onSaveAtendimento()">
			<b class="light-blue-text">Salvar</b>
		</a>
	</div>
</div>