<h2>{{ aluno.nome }}</h2>
<form materialize>
	<div class="row">
		<div class="input-field col m6 s12">
			<app-select
				id="selectEscola"
				[options]="escolas"
				[initialValue]="aluno.escola._id"
				(change)="onSelectEscola($event)">Escola</app-select>
		</div>
		<div class="input-field col m3 s6">
			<app-select
				id="selectSerie"
				[options]="series"
				[initialValue]="aluno.serie"
				(change)="onSelectSerie($event)">Série</app-select>
		</div>
		<div class="input-field col m3 s6">
			<app-select
				id="selectTurno"
				[options]="turnos"
				[initialValue]="aluno.turno"
				(change)="onSelectTurno($event)">Turno</app-select>
		</div>
	</div>
	<!-- <p>{{ 'Initial value: ' + aluno.escola.nome }}</p> -->
</form>