<form materialize>
	<div class="row">
		<h4 *ngIf="!edit; else editNome">{{ aluno.nome }}
			<button
				class="btn-custom grey-text tooltipped"
				style="margin-bottom: 12px"
				materialize="tooltip"
				data-position="top"
				data-ldelay="50"
				data-tooltip="Alterar o nome"
				(click)="toggleEdit()"><i class="material-icons">edit</i></button>
		</h4>
		<ng-template #editNome>
			<div class="input-field col s12" [ngClass]="{ 'slide-in-effect': edit }">
				<button class="btn-custom postfix" [disabled]="!aluno.nome" (click)="toggleEdit()">
					<i class="material-icons grey-text">close</i>
				</button>
				<input
					id="nome"
					name="nome"
					class="validate"
					autocomplete="false"
					[focus]="this.edit"
					(keyup)="onEdtitName($event.key)"
					[(ngModel)]="aluno.nome">
				<label class="active" for="nome">Nome</label>
			</div>
		</ng-template>
	</div>
	<div class="row">
		<div class="input-field col m6 s12">
			<select
				id="selectEscola"
				name="escola"
				materialize="material_select"
				[materializeSelectOptions]="escolas"
				[(ngModel)]="this.aluno.escola._id">
				<option value="" disabled selected>Selecione a Escola</option>
				<option *ngFor="let escola of escolas" [value]="escola._id">{{ escola.nome }}</option>
			</select>
			<label>Escola<span *ngIf="aluno.nome"> de {{ aluno.nome }}</span></label>
		</div>
		<div class="input-field col m3 s6">
			<select
				id="selectSerie"
				name="serie"
				materialize="material_select"
				[materializeSelectOptions]="series"
				[(ngModel)]="this.aluno.serie">
				<option value="" disabled selected>Selecione a Serie</option>
				<option *ngFor="let serie of series" [value]="serie">{{ serie }}</option>
			</select>
			<label>Serie<span *ngIf="aluno.nome"> de {{ aluno.nome }}</span></label>
		</div>
		<div class="input-field col m3 s6">
			<select
				id="selectTurno"
				name="turno"
				materialize="material_select"
				[materializeSelectOptions]="turnos"
				[(ngModel)]="this.aluno.serie">
				<option value="" disabled selected>Selecione o Turno</option>
				<option *ngFor="let turno of turnos" [value]="turno">{{ turno }}</option>
			</select>
			<label>Turno</label>
		</div>
	</div>
	<!-- <p>{{ 'Initial value: ' + aluno.escola.nome }}</p> -->
	<a class="waves-effect waves-light btn-large" (click)="print(aluno)">print aluno</a>
</form>