<h4 class="grey-text" *ngIf="!usuario._id">Novo Usuário</h4>
<h3 class="light">{{ usuario.nome || usuario.email }}</h3>
<h5 class="grey-text" *ngIf="usuario.nome">{{ usuario.email }}</h5>
<form materialize [formGroup]="form" (ngSubmit)="onSave()">
	<div class="row">
		<div *ngIf="!usuario._id">
			<div class="input-field col s12">
				<input
					id="inputNomeUsuario"
					type="text"
					focus="1"
					formControlName="nome"
					autocomplete="false"
					[ngClass]="{ 'invalid': form.get('nome').invalid && form.get('nome').touched }">
				<label class="active" for="inputNomeUsuario">Nome</label>
			</div>

			<div class="col s12">
				<div class="input-field">
					<input
						id="inputEmailUsuario"
						type="email"
						formControlName="email"
						autocomplete="false"
						[ngClass]="{ 'invalid': form.get('email').invalid && (form.get('email').touched || submitted) }">
					<label class="active" for="inputEmailUsuario">Email*</label>
				</div>
				<div *ngIf="form.get('email').invalid && (form.get('email').touched || submitted)">
					<label class="red-text">Por favor, insira um email válido.</label>
				</div>
			</div>
		</div>

		<p class="col s12">Permissões de {{ usuario.nome || usuario.email }}:</p>
		<div *ngFor="let permissao of permissoes" class="col s12 m6">
			<div class="switch">
				<label class="black-text" style="font-size: 1rem;">
					<input [id]="'check' + permissao.value" type="checkbox" [formControlName]="'has' + permissao.value">
					<span class="lever"></span>
					{{ permissao.name }}
				</label>
			</div>
			<br>
		</div>
	</div>

	<div class="row">
		<div class="col m12">
			<a
					class="btn-large waves-effect waves-light white black-text"
					style="margin: 10px 10px 10px 0; width: 190px;"
					(click)="cancel()">
				<i class="material-icons right">close</i>Cancelar</a>

			<button
					id="buttonSubmit"
					type="submit"
					class="btn-large waves-effect waves-light teal lighten-2"
					style="width: 190px;">
				<i class="material-icons right">save</i>Salvar</button>

		</div>
	</div>

	<div class="row" *ngIf="form.invalid">
		<label for="buttonSubmit" class="col red-text">* Campos obrigatórios</label>
	</div>

	<div *ngIf="usuario._id">
		<hr>
		<div class="row">
			<div class="col">
				<a
						class="btn-large waves-effect waves-light red"
						style="margin: 15px 0 0 0; width: 190px;"
						(click)="onConfirmDelete()">
					<i class="material-icons right">delete</i>Excluir</a>
			</div>
		</div>
	</div>
</form>