<h4 class="grey-text">Usuários</h4>
<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">

	<div class="collapsible-header flex-container disabled">
		<input type="checkbox" disabled>
		<label class="disabled"></label>
		<div class="flex nome"><b class="truncate">Nome</b></div>
		<div class="flex email"><b class="truncate">E-mail</b></div>
		<div class="flex escola"><b class="truncate">Escola</b></div>
	</div>
	<li *ngFor="let usuario of usuarios | navFilter: keyword:'nome'">

		<div class="collapsible-header flex-container selectable" (click)="onSimpleSelect(usuario._id)">
			<input
				type="checkbox"
				class="filled-in"
				[id]="usuario._id"
				[checked]="usuario._id === selectedId"
				(click)="onSimpleSelect(usuario._id)">
			<label [for]="usuario._id"></label>
			<div class="flex nome truncate">{{ usuario.nome }}</div>
			<div class="flex email truncate">{{ usuario.email }}</div>
			<div class="flex escola truncate">{{ usuario.escola ? usuario.escola.nome : 'Indefinida' }}</div>
		</div>
	</li>
</ul>
<app-floating-add-button [link]="link" [color]="'amber'"></app-floating-add-button>