ul {
	display: block;
	white-space: nowrap;
	font-size: 0;
	max-width: calc(100% - 90.5) !important;
	overflow-x: auto;
	float: none !important;
}

li {
	display: inline-block;
	float: none;
}

.spacing-left {
	margin-left: 15px;
}

@media only screen and (max-width: 992px) {
	.spacing-left {
		margin-left: 10px;
	}

	.spacing-left-on-med-and-down {
		margin-left: 10px;
	}
}